alembic==1.15.2
autoray==0.7.1
bayesian-optimization==1.4.0
baytune==0.5.0
chocolate==0.0.2
cma==4.0.0
cmaes==0.11.1
colorama==0.4.0
colorlog==6.9.0
contourpy==1.3.0
copulas==0.12.2
cotengra==0.7.2
cycler==0.12.1
cytoolz==1.0.1
directsearch==1.0
fonttools==4.57.0
importlib_resources==6.5.2
joblib==1.4.2
kahypar==1.3.5
kiwisolver==1.4.7
llvmlite==0.43.0
Mako==1.3.9
MarkupSafe==3.0.2
matplotlib==3.9.4
narwhals==1.33.0
networkx==3.2.1
nevergrad==1.0.11
numba==0.60.0
numpy==2.0.2
optuna==4.2.1
packaging==24.2
pandas==2.2.3
pillow==11.1.0
plotly==6.0.1
psutil==7.0.0
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
quimb==1.10.0
scikit-learn==1.6.1
scipy==1.13.1
six==1.17.0
SQLAlchemy==2.0.40
threadpoolctl==3.6.0
toolz==1.0.0
tqdm==4.67.1
typing_extensions==4.13.1
tzdata==2025.2
zipp==3.21.0
